body {
	background-size: 1800px 900px;
	background-repeat: no-repeat;
	margin: auto;
	background-color: white;
}

fieldset{
	display: block;
	margin-left:33%;
	margin-right: 33%;
	margin-top:1%;
}


#navigation a {
  float: right;
  display: block;
  color: grey;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-right: 3%;
  padding: 2%;
  padding-bottom: 1%;
}

#navigation a:hover {
  background-color: #ddd;
  color: black;
}

#topbar{
 padding-inline-start: 10px;
}
#topbar a{
	padding-top: 30px;
  font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}


 header {
  text-align: left;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;	 
  margin: auto;
  color: #818181;
  width: 98%;
  margin: auto;
}

 h1 {
	 font-family: 'Montserrat', sans-serif;
     font-size: 50px;
     color: #818181;
     width: 100%; 
     padding-bottom: 0px;
     margin: auto;
}
 h2 {
	 font-family: 'Montserrat', sans-serif;
	 font-weight: normal;
     font-size: 40px;
     color: #E2A4F0;
     width: 100%;
     padding-bottom: 0px;
     margin: auto;
}

 p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: #818181;
  width: 98%;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

fieldset{
  display: block;
  margin-left:10%;
  margin-right: 10%;
  margin-top:5%;
}

iframe {
  text-align: center;
  margin:auto;
  width: 100%;
}

footer {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  background-color: white;
  text-align: center;
  width: 100%;
  margin: auto;
}
